---
import Layout from '../layouts/Layout.astro'
import Intro from "../components/Intro.astro"
import Card from '../components/Cards.astro'
import '../styles/global.css'

const cards = [
  {
    src: '/img/bakery-16-400x250.jpg',
    alt: 'Imagen 1',
    titulo: 'Nunc Volutpat Venenatis',
    autor: 'by Nick Roach',
    descripcion: 'Nulla a odio sed magna congue condimentum. Pellentesque convallis enim nec libero vulputate, et rhoncus urna placerat. Phasellus mattis, diam vel vehicula facilisis, erat leo dapibus augue, at mollis tellus ex non nisi. Ut faucibus fringilla semper. Aenean nunc ex,...'
  },
  {
    src: '/img/generator-68-400x250.jpg',
    alt: 'Imagen 2',
    titulo: 'Vestibulum Nisl Felis',
    autor: 'by Nick Roach',
    descripcion: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam justo et nibh venenatis aliquet. Morbi mollis mollis pellentesque. Aenean vitae erat velit.'
  },
  {
    src: '/img/florist-04-400x250.jpg',
    alt: 'Imagen 3',
    titulo: 'Proin Eu Augue Efficitur',
    autor: 'by Nick Roach',
    descripcion: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam justo et nibh venenatis aliquet. Morbi mollis mollis pellentesque. Aenean vitae erat velit.'
  },
  {
    src: '/img/fashion-20-400x250.jpg',
    alt: 'Imagen 4',
    titulo: 'Nam Vulputate Tempus',
    autor: 'by Nick Roach',
    descripcion: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam justo et nibh venenatis aliquet. Morbi mollis mollis pellentesque. Aenean vitae erat velit. Maecenas urna sapien, dignissim a augue vitae, porttitor luctus urna. Morbi scelerisque semper congue. Donec vitae congue quam.'
  },
  {
    src: '/img/section-bg-4-400x250.jpg',
    alt: 'Imagen 5',
    titulo: 'Donec Sit Amet Nibh',
    autor: 'by Nick Roach',
    descripcion: 'Aenean vitae fringilla metus, sed pellentesque nisl. Morbi quis mi tincidunt, consequat risus et, dapibus magna. In lacinia dictum nunc, non dignissim quam.'
  },
  {
    src: '/img/13_img-400x250.jpg',
    alt: 'Imagen 6',
    titulo: 'Maecenas Fringilla Augue',
    autor: 'by Nick Roach',
    descripcion: 'Donec vitae congue quam. Pellentesque convallis est a eros porta, ut porttitor magna convallis. Donec quis felis imperdiet, vestibulum est ut, pulvinar dolor.'
  }
]
---

<Layout title="Blog" description="Pagina de Blog">
    <Intro introTitulo="Welcome to My Blog" introSubtitulo="Here is a masonry blog layout with no sidebar" />
    <div class="card-container">
        {cards.map(card => (
          <Card {...card} />
        ))}
    </div>
</Layout>

<style>
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
</style>
