---  
---
<footer>
    <p>Designed by <a target="_blank" href="https://www.elegantthemes.com/layouts/legacy-premade/simple-about-me-page/live-demo">Elegant Themes</a> | Recreado por <a target="_blank" href="https://github.com/erichp-git">Eric Hernández</a></p>
</footer>

<style>
footer {
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>