---
import NavBar from "./Nav.astro"
---
<header>
    <p id="header--titulo">Simple About Me Page Live Demo</p>
        <NavBar />
</header>

<style>
#header--titulo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    height: 45px;
    padding-left: 40px;
}
</style>